* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft Yahei";	
}

html {
    font-size: 15.625vw;
}

@media screen and (min-width: 640px) {
    html {
        font-size: 100px;
    }
}

body
{
	background: url('../images/background_ProductStory.jpg') repeat-y center center;
    background-size: 100%;
}

.main
{
    position: absolute;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size:0;
}

.turn_To_FirstView {
	position: fixed;
	z-index: 99999;
	margin-top: 0.5rem;
	margin-left: 0.3rem;
	width:0.7rem;
	height:0.7rem;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.7rem;
	background-color: blue;
	border-radius: 50%;
	color: white;
}


.main-title
{
	position: relative;
	color: red;
	margin-top: 0.5rem;
	width: 100%;
	height: 1.7rem;
	text-align: center;
	font-size: 0.36rem;
}

.second-title-box
{
	display: inline-block;
	font-size:0;
	position: relative;
	width: 7rem;
	height: 0.65rem;
	padding-left: 0.8rem;
	line-height: 0.65rem;
}

.second-title
{
	position: relative;
	float: left;
	color: red;
	font-size: 0.3rem;
}

.third-title-box
{
	display:inline-block;
	font-size:0;
	position: relative;
	width: 7rem;
	padding-left: 0.8rem;
	height: 0.5rem;
	line-height: 0.5rem;
}

.third-title
{
	position: relative;
	float: left;
	height: 0.5rem;
	font-size: 0.28rem;
	color: black;
}

.paragraph-box
{
	padding-left: 0.8rem;
	font-size:0;
	display: inline-block;
	position: relative;
	width: 7rem;
	line-height: 0.5rem;
	margin-bottom: 0.2rem;	
}


.paragraph
{
	color: #b2b2b2;
	position: relative;
	text-align: left;
	float: left;
	font-size: 0.22rem;
	line-height: 0.3rem;
	text-indent: 0.5rem;
	width: 5.0rem;
}

.photo_box
{
	position: relative;
	display: inline-block;
	margin-bottom: 0.1rem;
	width: 100%;
	height: 3.3rem;
	text-align: center;
}


.photo_near_to_photo
{
	position: relative;
	display: inline-block;
	width: 4.4rem;
	height: 3.3rem;
}

.bottom-button
{
	height: 0.83rem;
	width: 100%;
	bottom: 0px;
	position: relative;
	display: block;
	font-size: 0.26rem;
	background-color: #8e3030;
	text-align: center;
	line-height: 0.83rem;
	color: #ffffff;
}